name: JuliaStable
on:
  push:
    branches:
      - main
      - staging
      - trying
  pull_request:

jobs:
  test:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
    steps:
      - name: Set up Actions
        uses: actions/checkout@v1
      - name: Set up Julia
        uses: julia-actions/setup-julia@v1
        with:
          version: "1"
      - name: Uses Conda for Mac-OS
        uses: conda-incubator/setup-miniconda@v2
        with: 
          auto-update-conda: true
          python-version: '3.8'
      - name: Mac-OS Conda Info
        run: |
          conda info
          ls /usr/local/miniconda

